<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 1: Standardized Test Analysis

--- 
# Part 1

Part 1 requires knowledge of basic Python.

---

## Problem Statement

The new format for the SAT was released in March 2016. Since then, levels of participation in multiple states have changed with varying legislative decisions. This project aims to explore trends in SAT and ACT participation for the years 2017-2019 and seeks to identify states that have decreasing SAT participation rates.

### Contents:
- [Background](#Background)
- [Data Import & Cleaning](#Data-Import-and-Cleaning)
- [Exploratory Data Analysis](#Exploratory-Data-Analysis)
- [Data Visualization](#Visualize-the-Data)
- [Conclusions and Recommendations](#Conclusions-and-Recommendations)

## Background

The SAT and ACT are standardized tests that many colleges and universities in the United States require for their admissions process. This score is used along with other materials such as grade point average (GPA) and essay responses to determine whether or not a potential student will be accepted to the university.

The SAT has two sections of the test: Evidence-Based Reading and Writing and Math ([*source*](https://www.princetonreview.com/college/sat-sections)). The ACT has 4 sections: English, Mathematics, Reading, and Science, with an additional optional writing section ([*source*](https://www.act.org/content/act/en/products-and-services/the-act/scores/understanding-your-scores.html)). They have different score ranges, which you can read more about on their websites or additional outside sources (a quick Google search will help you understand the scores for each test):
* [SAT](https://collegereadiness.collegeboard.org/sat)
* [ACT](https://www.act.org/content/act/en.html)

Standardized tests have long been a controversial topic for students, administrators, and legislators. Since the 1940's, an increasing number of colleges have been using scores from sudents' performances on tests like the SAT and the ACT as a measure for college readiness and aptitude ([*source*](https://www.minotdailynews.com/news/local-news/2017/04/a-brief-history-of-the-sat-and-act/)). Supporters of these tests argue that these scores can be used as an objective measure to determine college admittance. Opponents of these tests claim that these tests are not accurate measures of students potential or ability and serve as an inequitable barrier to entry. Lately, more and more schools are opting to drop the SAT/ACT requirement for their Fall 2021 applications ([*read more about this here*](https://www.cnn.com/2020/04/14/us/coronavirus-colleges-sat-act-test-trnd/index.html)).

**To-Do:** *Fill out this cell (or edit the above cell) with any other background or information that is necessary for your problem statement.*

### Choose your Data

There are 10 datasets included in the [`data`](./data/) folder for this project. You are required to pick **at least two** of these to complete your analysis. Feel free to use more than two if you would like, or add other relevant datasets you find online.

* [`act_2017.csv`](./data/act_2017.csv): 2017 ACT Scores by State
* [`act_2018.csv`](./data/act_2018.csv): 2018 ACT Scores by State
* [`act_2019.csv`](./data/act_2019.csv): 2019 ACT Scores by State
* [`act_2019_ca.csv`](./data/act_2019_ca.csv): 2019 ACT Scores in California by School
* [`sat_2017.csv`](./data/sat_2017.csv): 2017 SAT Scores by State
* [`sat_2018.csv`](./data/sat_2018.csv): 2018 SAT Scores by State
* [`sat_2019.csv`](./data/sat_2019.csv): 2019 SAT Scores by State
* [`sat_2019_by_intended_college_major.csv`](./data/sat_2019_by_intended_college_major.csv): 2019 SAT Scores by Intended College Major
* [`sat_2019_ca.csv`](./data/sat_2019_ca.csv): 2019 SAT Scores in California by School
* [`sat_act_by_college.csv`](./data/sat_act_by_college.csv): Ranges of Accepted ACT & SAT Student Scores by Colleges

**To-Do:** *Fill out this cell with the datasets you will use for your analysis. Write a brief description of the contents for each dataset that you choose.*

### Outside Research

Based on your problem statement and your chosen datasets, spend some time doing outside research on state policies or additional information that might be relevant. Summarize your findings below. If you bring in any outside tables or charts, make sure you are explicit about having borrowed them. If you quote any text, make sure that it renders as being quoted. **Make sure that you cite your sources.**

**To-Do:** *Fill out this cell with outside research or any additional background information that will support your analysis.*

### Coding Challenges

1. Manually calculate mean:

    Write a function that takes in values and returns the mean of the values. Create a list of numbers that you test on your function to check to make sure your function works!
    
    *Note*: Do not use any mean methods built-in to any Python libraries to do this! This should be done without importing any additional libraries.

In [16]:
# Code: 
def calculate_mean(ls):
    s = 0
    for i in ls:
        s += i
    return s/len(ls)
calculate_mean([1,2,3,4,5])

3.0

2. Manually calculate standard deviation:

    The formula for standard deviation is below:

    $$\sigma = \sqrt{\frac{1}{n}\sum_{i=1}^n(x_i - \mu)^2}$$

    Where $x_i$ represents each value in the dataset, $\mu$ represents the mean of all values in the dataset and $n$ represents the number of values in the dataset.

    Write a function that takes in values and returns the standard deviation of the values using the formula above. Hint: use the function you wrote above to calculate the mean! Use the list of numbers you created above to test on your function.
    
    *Note*: Do not use any standard deviation methods built-in to any Python libraries to do this! This should be done without importing any additional libraries.

In [17]:
# Code:
def sigma(ls):
    s = 0
    for i in ls:
        s += (i - calculate_mean(ls))**2
    return round((s/len(ls))**0.5,2)
sigma([1,2,3,4,5])

1.41

3. Data cleaning function:
    
    Write a function that takes in a string that is a number and a percent symbol (ex. '50%', '30.5%', etc.) and converts this to a float that is the decimal approximation of the percent. For example, inputting '50%' in your function should return 0.5, '30.5%' should return 0.305, etc. Make sure to test your function to make sure it works!

You will use these functions later on in the project!

In [18]:
# Code:
def clean(with_symbol):
    return float(with_symbol[:-1])/100
clean('30.5%')

0.305

--- 
# Part 2

Part 2 requires knowledge of Pandas, EDA, data cleaning, and data visualization.

---

*All libraries used should be added here*

In [19]:
# Imports:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Data Import and Cleaning

### Data Import & Cleaning

Import the datasets that you selected for this project and go through the following steps at a minimum. You are welcome to do further cleaning as you feel necessary:
1. Display the data: print the first 5 rows of each dataframe to your Jupyter notebook.
2. Check for missing values.
3. Check for any obvious issues with the observations (keep in mind the minimum & maximum possible values for each test/subtest).
4. Fix any errors you identified in steps 2-3.
5. Display the data types of each feature.
6. Fix any incorrect data types found in step 5.
    - Fix any individual values preventing other columns from being the appropriate type.
    - If your dataset has a column of percents (ex. '50%', '30.5%', etc.), use the function you wrote in Part 1 (coding challenges, number 3) to convert this to floats! *Hint*: use `.map()` or `.apply()`.
7. Rename Columns.
    - Column names should be all lowercase.
    - Column names should not contain spaces (underscores will suffice--this allows for using the `df.column_name` method to access columns in addition to `df['column_name']`).
    - Column names should be unique and informative.
8. Drop unnecessary rows (if needed).
9. Merge dataframes that can be merged.
10. Perform any additional cleaning that you feel is necessary.
11. Save your cleaned and merged dataframes as csv files.

In [20]:
# Code:
act_2017 = pd.read_csv('F:/GA/Projects/project-1/data/act_2017.csv')
act_2018 = pd.read_csv('F:/GA/Projects/project-1/data/act_2018.csv')
act_2019 = pd.read_csv('F:/GA/Projects/project-1/data/act_2019.csv')
sat_2017 = pd.read_csv('F:/GA/Projects/project-1/data/sat_2017.csv')
sat_2018 = pd.read_csv('F:/GA/Projects/project-1/data/sat_2018.csv')
sat_2019 = pd.read_csv('F:/GA/Projects/project-1/data/sat_2019.csv')

In [21]:
#Keep only columns and rows I need and reassign
act_2017 = act_2017.loc[:,['State','Participation']]
act_2017 = act_2017.iloc[1:,:]
act_2017.head()

        State Participation
1     Alabama          100%
2      Alaska           65%
3     Arizona           62%
4    Arkansas          100%
5  California           31%

In [22]:
act_2017.shape

(51, 2)

In [23]:
act_2018 = act_2018.loc[:,['State','Participation']]
act_2018.head()

        State Participation
0     Alabama          100%
1      Alaska           33%
2     Arizona           66%
3    Arkansas          100%
4  California           27%

In [24]:
act_2019= act_2019.loc[:,['State','Participation']]
act_2019.head()

        State Participation
0     Alabama          100%
1      Alaska           38%
2     Arizona           73%
3    Arkansas          100%
4  California           23%

In [25]:
sat_2017 = sat_2017.loc[:,['State','Participation']]
sat_2017

                   State Participation
0                Alabama            5%
1                 Alaska           38%
2                Arizona           30%
3               Arkansas            3%
4             California           53%
5               Colorado           11%
6            Connecticut          100%
7               Delaware          100%
8   District of Columbia          100%
9                Florida           83%
10               Georgia           61%
11                Hawaii           55%
12                 Idaho           93%
13              Illinois            9%
14               Indiana           63%
15                  Iowa            2%
16                Kansas            4%
17              Kentucky            4%
18             Louisiana            4%
19                 Maine           95%
20              Maryland           69%
21         Massachusetts           76%
22              Michigan          100%
23             Minnesota            3%
24           Mississippi            2%
25              Missouri            3%
26               Montana           10%
27              Nebraska            3%
28                Nevada           26%
29         New Hampshire           96%
30            New Jersey           70%
31            New Mexico           11%
32              New York           67%
33        North Carolina           49%
34          North Dakota            2%
35                  Ohio           12%
36              Oklahoma            7%
37                Oregon           43%
38          Pennsylvania           65%
39          Rhode Island           71%
40        South Carolina           50%
41          South Dakota            3%
42             Tennessee            5%
43                 Texas           62%
44                  Utah            3%
45               Vermont           60%
46              Virginia           65%
47            Washington           64%
48         West Virginia           14%
49             Wisconsin            3%
50               Wyoming            3%

In [26]:
sat_2018 = sat_2018.loc[:,['State','Participation']]
sat_2018

                   State Participation
0                Alabama            6%
1                 Alaska           43%
2                Arizona           29%
3               Arkansas            5%
4             California           60%
5               Colorado          100%
6            Connecticut          100%
7               Delaware          100%
8   District of Columbia           92%
9                Florida           56%
10               Georgia           70%
11                Hawaii           56%
12                 Idaho          100%
13              Illinois           99%
14               Indiana           63%
15                  Iowa            3%
16                Kansas            4%
17              Kentucky            4%
18             Louisiana            4%
19                 Maine           99%
20              Maryland           76%
21         Massachusetts           80%
22              Michigan          100%
23             Minnesota            4%
24           Mississippi            3%
25              Missouri            4%
26               Montana           10%
27              Nebraska            3%
28                Nevada           23%
29         New Hampshire           96%
30            New Jersey           82%
31            New Mexico           16%
32              New York           79%
33        North Carolina           52%
34          North Dakota            2%
35              Oklahoma            8%
36                  Ohio           18%
37                Oregon           48%
38          Pennsylvania           70%
39          Rhode Island           97%
40        South Carolina           55%
41          South Dakota            3%
42             Tennessee            6%
43                 Texas           66%
44                  Utah            4%
45               Vermont           64%
46              Virginia           68%
47            Washington           69%
48         West Virginia           28%
49             Wisconsin            3%
50               Wyoming            3%

In [27]:
sat_2019 = sat_2019.loc[:,['State','Participation Rate']]
sat_2019

                   State Participation Rate
0                Alabama                 7%
1                 Alaska                41%
2                Arizona                31%
3               Arkansas                 6%
4             California                63%
5               Colorado               100%
6            Connecticut               100%
7               Delaware               100%
8   District of Columbia                94%
9                Florida               100%
10               Georgia                71%
11                Hawaii                54%
12                 Idaho               100%
13              Illinois               100%
14               Indiana                66%
15                  Iowa                 3%
16                Kansas                 4%
17              Kentucky                 4%
18             Louisiana                 5%
19                 Maine                99%
20              Maryland                82%
21         Massachusetts                81%
22              Michigan               100%
23             Minnesota                 4%
24           Mississippi                 3%
25              Missouri                 4%
26               Montana                 9%
27              Nebraska                 3%
28                Nevada                20%
29         New Hampshire                95%
30            New Jersey                82%
31            New Mexico                18%
32              New York                79%
33        North Carolina                51%
34          North Dakota                 2%
35                  Ohio                19%
36              Oklahoma                22%
37                Oregon                51%
38          Pennsylvania                70%
39           Puerto Rico                  —
40          Rhode Island               100%
41        South Carolina                68%
42          South Dakota                 3%
43             Tennessee                 7%
44                 Texas                68%
45                  Utah                 4%
46               Vermont                66%
47        Virgin Islands                  —
48              Virginia                68%
49            Washington                70%
50         West Virginia                99%
51             Wisconsin                 3%
52               Wyoming                 3%

In [28]:
#Check for missing values
act_2017.Participation.isna().sum()

0

In [29]:
act_2018.Participation.isna().sum()

0

In [30]:
act_2019.Participation.isna().sum()

0

In [31]:
sat_2017.Participation.isna().sum()

0

In [32]:
sat_2018.Participation.isna().sum()

0

In [33]:
sat_2019['Participation Rate'].isna().sum()

0

In [34]:
#types
act_2017.dtypes

State            object
Participation    object
dtype: object

In [35]:
#fixing errors
act_2018['State'].replace({'District of columbia':'District of Columbia'}, inplace=True)

In [36]:
#fixing errors
act_2018.drop(19, axis=0, inplace=True)
#df[df['column']=='__'].index
#this is a comment

In [37]:
#merging dataframes
act_1718 = pd.merge(act_2017, act_2018, how="outer",on='State')

In [38]:
act_2019.drop(51, axis=0, inplace=True)

In [39]:
act = pd.merge(act_1718, act_2019, how="outer", on="State")

In [40]:
act.rename(columns={'Participation_x':'Participation_2017','Participation_y':'Participation_2018','Participation':'Participation_2019'}, inplace=True)
act

,State,Participation_2017,Participation_2018,Participation_2019
0,Alabama,100%,100%,100%
1,Alaska,65%,33%,38%
2,Arizona,62%,66%,73%
3,Arkansas,100%,100%,100%
4,California,31%,27%,23%
5,Colorado,100%,30%,27%
6,Connecticut,31%,26%,22%
7,Delaware,18%,17%,13%
8,District of Columbia,32%,32%,32%
9,Florida,73%,66%,54%
10,Georgia,55%,53%,49%
11,Hawaii,90%,89%,80%
12,Idaho,38%,36%,31%
13,Illinois,93%,43%,35%
14,Indiana,35%,32%,29%
15,Iowa,67%,68%,66%
16,Kansas,73%,71%,72%
17,Kentucky,100%,100%,100%
18,Louisiana,100%,100%,100%
19,Maine,8%,7%,6%
20,Maryland,28%,31%,28%
21,Massachusetts,29%,25%,21%
22,Michigan,29%,22%,19%
23,Minnesota,100%,99%,95%
24,Mississippi,100%,100%,100%
25,Missouri,100%,100%,82%
26,Montana,100%,100%,100%
27,Nebraska,84%,100%,100%
28,Nevada,100%,100%,100%
29,New Hampshire,18%,16%,14%
30,New Jersey,34%,31%,25%
31,New Mexico,66%,67%,63%
32,New York,31%,27%,22%
33,North Carolina,100%,100%,100%
34,North Dakota,98%,98%,96%
35,Ohio,75%,100%,100%
36,Oklahoma,100%,100%,100%
37,Oregon,40%,42%,42%
38,Pennsylvania,23%,20%,17%
39,Rhode Island,21%,15%,12%
40,South Carolina,100%,100%,78%
41,South Dakota,80%,77%,75%
42,Tennessee,100%,100%,100%
43,Texas,45%,45%,39%
44,Utah,100%,100%,100%
45,Vermont,29%,24%,20%
46,Virginia,29%,24%,21%
47,Washington,29%,24%,24%
48,West Virginia,69%,65%,49%
49,Wisconsin,100%,100%,100%
50,Wyoming,100%,100%,100%

In [41]:
#cleaning SATs
sat_2019.drop([39, 47], axis=0, inplace=True)
sat_2019

                   State Participation Rate
0                Alabama                 7%
1                 Alaska                41%
2                Arizona                31%
3               Arkansas                 6%
4             California                63%
5               Colorado               100%
6            Connecticut               100%
7               Delaware               100%
8   District of Columbia                94%
9                Florida               100%
10               Georgia                71%
11                Hawaii                54%
12                 Idaho               100%
13              Illinois               100%
14               Indiana                66%
15                  Iowa                 3%
16                Kansas                 4%
17              Kentucky                 4%
18             Louisiana                 5%
19                 Maine                99%
20              Maryland                82%
21         Massachusetts                81%
22              Michigan               100%
23             Minnesota                 4%
24           Mississippi                 3%
25              Missouri                 4%
26               Montana                 9%
27              Nebraska                 3%
28                Nevada                20%
29         New Hampshire                95%
30            New Jersey                82%
31            New Mexico                18%
32              New York                79%
33        North Carolina                51%
34          North Dakota                 2%
35                  Ohio                19%
36              Oklahoma                22%
37                Oregon                51%
38          Pennsylvania                70%
40          Rhode Island               100%
41        South Carolina                68%
42          South Dakota                 3%
43             Tennessee                 7%
44                 Texas                68%
45                  Utah                 4%
46               Vermont                66%
48              Virginia                68%
49            Washington                70%
50         West Virginia                99%
51             Wisconsin                 3%
52               Wyoming                 3%

In [42]:
#merging SATs
sat_1718 = pd.merge(sat_2017,sat_2018, how="outer", on="State")

In [43]:
sat = pd.merge(sat_1718, sat_2019, how="outer", on="State")

In [44]:
#rename columns
sat.rename(columns={'Participation_x':'Participation_2017','Participation_y':'Participation_2018','Participation Rate':'Participation_2019'}, inplace=True)

In [45]:
#lowercase Names
act.columns = act.columns.str.lower()
sat.columns = sat.columns.str.lower()

In [46]:
act.head()

        state participation_2017 participation_2018 participation_2019
0     Alabama               100%               100%               100%
1      Alaska                65%                33%                38%
2     Arizona                62%                66%                73%
3    Arkansas               100%               100%               100%
4  California                31%                27%                23%

In [47]:
act.participation_2017 = act.participation_2017.apply(clean)
act.participation_2018 = act.participation_2018.apply(clean)
act.participation_2019 = act.participation_2019.apply(clean)
sat.participation_2017 = sat.participation_2017.apply(clean)
sat.participation_2018 = sat.participation_2018.apply(clean)
sat.participation_2019 = sat.participation_2019.apply(clean)

In [48]:
#save as a csv file
act.to_csv('F:\GA\Projects\project-1\data\ACT.csv', index=False)

In [49]:
#save as a csv file
sat.to_csv('F:\GA\Projects\project-1\data\SAT.csv', index=False)

In [79]:
#merging act and sat together
df = pd.merge(act, sat, on='state')

In [81]:
#rename columns
df.rename(columns = {'participation_2017_x':'act_participation_2017',
                     'participation_2018_x':'act_participation_2018',
                     'participation_2019_x':'act_participation_2019',
                     'participation_2017_y':'sat_participation_2017',
                     'participation_2018_y':'sat_participation_2018',
                     'participation_2019_y':'sat_participation_2019'},
                      inplace=True)

In [82]:
df.head()

,state,act_participation_2017,act_participation_2018,act_participation_2019,sat_participation_2017,sat_participation_2018,sat_participation_2019
0,Alabama,1.00,1.00,1.00,0.05,0.06,0.07
1,Alaska,0.65,0.33,0.38,0.38,0.43,0.41
2,Arizona,0.62,0.66,0.73,0.30,0.29,0.31
3,Arkansas,1.00,1.00,1.00,0.03,0.05,0.06
4,California,0.31,0.27,0.23,0.53,0.60,0.63

### Data Dictionary

Now that we've fixed our data, and given it appropriate names, let's create a [data dictionary](http://library.ucmerced.edu/node/10249). 

A data dictionary provides a quick overview of features/variables/columns, alongside data types and descriptions. The more descriptive you can be, the more useful this document is.

Example of a Fictional Data Dictionary Entry: 

|Feature|Type|Dataset|Description|
|---|---|---|---|
|**county_pop**|*integer*|2010 census|The population of the county (units in thousands, where 2.5 represents 2500 people).| 
|**per_poverty**|*float*|2010 census|The percent of the county over the age of 18 living below the 200% of official US poverty rate (units percent to two decimal places 98.10 means 98.1%)|

[Here's a quick link to a short guide for formatting markdown in Jupyter notebooks](https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Working%20With%20Markdown%20Cells.html).

Provided is the skeleton for formatting a markdown table, with columns headers that will help you create a data dictionary to quickly summarize your data, as well as some examples. **This would be a great thing to copy and paste into your custom README for this project.**

*Note*: if you are unsure of what a feature is, check the source of the data! This can be found in the README.

**To-Do:** *Edit the table below to create your own data dictionary for the datasets you chose.*

|Feature|Type|Dataset|Description|
|---|---|---|---|
|state|object|ACT|Name of the the states|
|particitation_2017|float|ACT|percentage of participation in ACT in 2017|
|particitation_2018|float|ACT|percentage of participation in ACT in 2018|
|particitation_2019|float|ACT|percentage of participation in ACT in 2019|

## Exploratory Data Analysis

Complete the following steps to explore your data. You are welcome to do more EDA than the steps outlined here as you feel necessary:
1. Summary Statistics.
2. Use a **dictionary comprehension** to apply the standard deviation function you create in part 1 to each numeric column in the dataframe.  **No loops**.
    - Assign the output to variable `sd` as a dictionary where: 
        - Each column name is now a key 
        - That standard deviation of the column is the value 
        - *Example Output :* `{'ACT_Math': 120, 'ACT_Reading': 120, ...}`
3. Investigate trends in the data.
    - Using sorting and/or masking (along with the `.head()` method to avoid printing our entire dataframe), consider questions relevant to your problem statement. Some examples are provided below (but feel free to change these questions for your specific problem):
        - Which states have the highest and lowest participation rates for the 2017, 2019, or 2019 SAT and ACT?
        - Which states have the highest and lowest mean total/composite scores for the 2017, 2019, or 2019 SAT and ACT?
        - Do any states with 100% participation on a given test have a rate change year-to-year?
        - Do any states show have >50% participation on *both* tests each year?
        - Which colleges have the highest median SAT and ACT scores for admittance?
        - Which California school districts have the highest and lowest mean test scores?
    - **You should comment on your findings at each step in a markdown cell below your code block**. Make sure you include at least one example of sorting your dataframe by a column, and one example of using boolean filtering (i.e., masking) to select a subset of the dataframe.

In [83]:
#2:dictionary comprehension
#{act.column:sigma(act.column)for column in act.to_dict()}

{k:sigma(v) for (k,v) in df.iloc[:,1:].to_dict('list').items()}

{'act_participation_2017': 0.32,
 'act_participation_2018': 0.34,
 'act_participation_2019': 0.34,
 'sat_participation_2017': 0.35,
 'sat_participation_2018': 0.37,
 'sat_participation_2019': 0.38}

In [90]:
df.head()

,state,act_participation_2017,act_participation_2018,act_participation_2019,sat_participation_2017,sat_participation_2018,sat_participation_2019
0,Alabama,1.00,1.00,1.00,0.05,0.06,0.07
1,Alaska,0.65,0.33,0.38,0.38,0.43,0.41
2,Arizona,0.62,0.66,0.73,0.30,0.29,0.31
3,Arkansas,1.00,1.00,1.00,0.03,0.05,0.06
4,California,0.31,0.27,0.23,0.53,0.60,0.63

In [102]:
#Code:
#Which states have the highest and lowest participation rates for the 2017, 2019, or 2019 SAT and ACT?
#min
df[df['act_participation_2017'] == min(df.act_participation_2017)]
#ACT min 2017: Maine

df[df['act_participation_2018'] == min(df.act_participation_2018)]
#ACT min 2018: Maine

df[df['act_participation_2019'] == min(df.act_participation_2019)]
#ACT min 2019: Maine

df[df['sat_participation_2017'] == min(df.sat_participation_2017)]
#SAT min 2017: Iowa, Mississippi, North Dakota

df[df['sat_participation_2018'] == min(df.sat_participation_2018)]
#SAT min 2018: North Dakota

df[df['sat_participation_2019'] == min(df.sat_participation_2019)]
#SAT min 2019: North Dakota

,state,act_participation_2017,act_participation_2018,act_participation_2019,sat_participation_2017,sat_participation_2018,sat_participation_2019
34,North Dakota,0.98,0.98,0.96,0.02,0.02,0.02

In [121]:
for col in df.columns:
    min_states = []
    if "participation" in col:
        #min_states.append(df[df[col] == min(df[col])]['state'])
       print(df[df[col] == min(df[col]).index]['state'])

AttributeError: 'float' object has no attribute 'index'

In [123]:
for col in df.columns:
    min_states = []
    if "participation" in col:
        #min_states.append(df[df[col] == min(df[col])]['state'])
       print(df.loc[df[df[col] == min(df[col])].index[0]]['state'])

Maine
Maine
Maine
Iowa
North Dakota
North Dakota

In [101]:
#max
df[df['act_participation_2017'] == max(df.act_participation_2017)]
#ACT max 2017: Alabama, Arkansas, colorado, Kentucky, Louisiana, Minnesota, Mississippi, Missouri, Montana, Nevada, North Carolina, Oklahoma, South Carolina, Tennessee, Utah, Wisconsin, Wyoming 
# df[df['act_participation_2018'] == max(df.act_participation_2018)]
# #ACT min 2018: 

# df[df['act_participation_2019'] == max(df.act_participation_2019)]
# #ACT min 2019: 

# df[df['sat_participation_2017'] == max(df.sat_participation_2017)]
# #SAT min 2017: 

# df[df['sat_participation_2018'] == max(df.sat_participation_2018)]
# #SAT min 2018: 

# df[df['sat_participation_2019'] == max(df.sat_participation_2019)]
# #SAT min 2019:

,state,act_participation_2017,act_participation_2018,act_participation_2019,sat_participation_2017,sat_participation_2018,sat_participation_2019
0,Alabama,1.0,1.00,1.00,0.05,0.06,0.07
3,Arkansas,1.0,1.00,1.00,0.03,0.05,0.06
5,Colorado,1.0,0.30,0.27,0.11,1.00,1.00
17,Kentucky,1.0,1.00,1.00,0.04,0.04,0.04
18,Louisiana,1.0,1.00,1.00,0.04,0.04,0.05
23,Minnesota,1.0,0.99,0.95,0.03,0.04,0.04
24,Mississippi,1.0,1.00,1.00,0.02,0.03,0.03
25,Missouri,1.0,1.00,0.82,0.03,0.04,0.04
26,Montana,1.0,1.00,1.00,0.10,0.10,0.09
28,Nevada,1.0,1.00,1.00,0.26,0.23,0.20
33,North Carolina,1.0,1.00,1.00,0.49,0.52,0.51
36,Oklahoma,1.0,1.00,1.00,0.07,0.08,0.22
40,South Carolina,1.0,1.00,0.78,0.50,0.55,0.68
42,Tennessee,1.0,1.00,1.00,0.05,0.06,0.07
44,Utah,1.0,1.00,1.00,0.03,0.04,0.04
49,Wisconsin,1.0,1.00,1.00,0.03,0.03,0.03
50,Wyoming,1.0,1.00,1.00,0.03,0.03,0.03

**To-Do:** *Edit this cell with your findings on trends in the data (step 3 above).*

## Visualize the Data

There's not a magic bullet recommendation for the right number of plots to understand a given dataset, but visualizing your data is *always* a good idea. Not only does it allow you to quickly convey your findings (even if you have a non-technical audience), it will often reveal trends in your data that escaped you when you were looking only at numbers. It is important to not only create visualizations, but to **interpret your visualizations** as well.

**Every plot should**:
- Have a title
- Have axis labels
- Have appropriate tick labels
- Text is legible in a plot
- Plots demonstrate meaningful and valid relationships
- Have an interpretation to aid understanding

Here is an example of what your plots should look like following the above guidelines. Note that while the content of this example is unrelated, the principles of visualization hold:

![](https://snag.gy/hCBR1U.jpg)
*Interpretation: The above image shows that as we increase our spending on advertising, our sales numbers also tend to increase. There is a positive correlation between advertising spending and sales.*

---

Here are some prompts to get you started with visualizations. Feel free to add additional visualizations as you see fit:
1. Use Seaborn's heatmap with pandas `.corr()` to visualize correlations between all numeric features.
    - Heatmaps are generally not appropriate for presentations, and should often be excluded from reports as they can be visually overwhelming. **However**, they can be extremely useful in identify relationships of potential interest (as well as identifying potential collinearity before modeling).
    - Please take time to format your output, adding a title. Look through some of the additional arguments and options. (Axis labels aren't really necessary, as long as the title is informative).
2. Visualize distributions using histograms. If you have a lot, consider writing a custom function and use subplots.
    - *OPTIONAL*: Summarize the underlying distributions of your features (in words & statistics)
         - Be thorough in your verbal description of these distributions.
         - Be sure to back up these summaries with statistics.
         - We generally assume that data we sample from a population will be normally distributed. Do we observe this trend? Explain your answers for each distribution and how you think this will affect estimates made from these data.
3. Plot and interpret boxplots. 
    - Boxplots demonstrate central tendency and spread in variables. In a certain sense, these are somewhat redundant with histograms, but you may be better able to identify clear outliers or differences in IQR, etc.
    - Multiple values can be plotted to a single boxplot as long as they are of the same relative scale (meaning they have similar min/max values).
    - Each boxplot should:
        - Only include variables of a similar scale
        - Have clear labels for each variable
        - Have appropriate titles and labels
4. Plot and interpret scatter plots to view relationships between features. Feel free to write a custom function, and subplot if you'd like. Functions save both time and space.
    - Your plots should have:
        - Two clearly labeled axes
        - A proper title
        - Colors and symbols that are clear and unmistakable
5. Additional plots of your choosing.
    - Are there any additional trends or relationships you haven't explored? Was there something interesting you saw that you'd like to dive further into? It's likely that there are a few more plots you might want to generate to support your narrative and recommendations that you are building toward. **As always, make sure you're interpreting your plots as you go**.

In [54]:
# Code

## Conclusions and Recommendations

Based on your exploration of the data, what are you key takeaways and recommendations? Make sure to answer your question of interest or address your problem statement here.

**To-Do:** *Edit this cell with your conclusions and recommendations.*

Don't forget to create your README!

**To-Do:** *If you combine your problem statement, data dictionary, brief summary of your analysis, and conclusions/recommendations, you have an amazing README.md file that quickly aligns your audience to the contents of your project.* Don't forget to cite your data sources!